@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>

<p>Ho va ten: Nguyen Ba Truong</p>
<p>Ma sinh vien: 2210900140</p>
<p>Lop: K22CNT3</p>
<p>Email: nguyenbatruong1301@gmail.com</p>
<p>Dien thoai: 0336558218</p>
