
@{
    ViewData["Title"] = "Thong tin sinh vien";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Ma sinh vien: 2210900140</p>
    <p>Ho va ten: Nguyen Ba Truong</p>
    <p>Lop: K22CNT3</p>
    <p>Email: nguyenbatruong1301@gmail.com</p>
    <p>Dien thoai:
        <a href="tel:0336558218">0336558218</a>
    </p>
         
</div>


