

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - NbtDay03View - <a asp-area="" asp-controller="NbtHome" asp-action="NbtAbout">Thong tin</a>
    </div>
</footer>